__pycache__/
*.pyc
site/
.venv/

# IDE
.idea/

# Python
.python-version
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.cache/

# Secrets
.env

# Playwright
.playwright/
.playwright-cli/

# Devin local config
.devin/
